[submodule "bluetag-register"]
	path = bluetag-register
	url = git@github.ibm.com:Bluetag/bluetag-register.git
[submodule "bluetag-shared-libs"]
	path = bluetag-shared-libs
	url = git@github.ibm.com:Bluetag/bluetag-shared-libs.git
[submodule "bluetag-tag"]
	path = bluetag-tag
	url = git@github.ibm.com:Bluetag/bluetag-tag.git
[submodule "bluetag-frontend"]
	path = bluetag-frontend
	url = git@github.ibm.com:Bluetag/bluetag-frontend.git
