[submodule "bluetag-search"]
	path = bluetag-search
	url = git@github.ibm.com:Bluetag/bluetag-search.git
[submodule "bluetag-engine"]
	path = bluetag-engine
	url = git@github.ibm.com:Bluetag/bluetag-engine.git
